<template>
  <book-card />
</template>

<script>
import BookCard from '../components/BookCard.vue'
export default {
    name: 'details',
    components:{
        BookCard
    }
}
</script>

<style>


</style>