<template>
  <div class="BookLists">
<best-seller-list/>
<new-releases-list/>
  </div>
</template>

<script>
import BestSellerList from '../components/BestSellerList.vue'
import NewReleasesList from '../components/NewReleasesList.vue'
export default {
    name: 'home-view',
  components: { 
      NewReleasesList,
      BestSellerList },

};
</script>

<style>

</style>