<template>
<div>
     <new-book-form/>
</div>
</template>

<script>
import NewBookForm from '../components/NewBookForm.vue'

export default {
    name: 'new-book',
    components:{
        NewBookForm
    }

};
</script>

<style>

</style>