html * {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}
div{
  background-color: #800080;
}
#slug_1 {
  background-color: #ECA008;
  padding: 50px;
  margin: 0;
  border: 30px solid black;
}
#slug_2 {
  background-color: #ECA008;
  padding: 0px;
  margin: 50px;
  border: 30px solid black;
}
.bigBorder{
  border-style: double;
  border-width: 100px;
}
.bkgBlue
{
  background-color: blue;
}
body > p {
  color: violet;
}
div .bkgBlue {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p:hover {
  background-color: crimson;
}
