img {
    height: 200px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 128px;
    color: cornflowerblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}