#main {
    margin: 1rem 0;
    width: 800px;
}

#main div.well-display {
    display: flex;
    justify-content: space-around;
}

#main div.well-display div.well {
    display: inline-block;
    width: 15%;
    border: 1px black solid;
    border-radius: 6px;
    text-align: center;
    margin: 0.25rem;
}

#main div.well-display div.well span.amount {
    color: darkslategray;
    display: block;
    font-size: 2.5rem;
}

#main div.review {
    border: 1px black solid;
    border-radius: 6px;
    padding: 1rem;
    margin: 10px;
}

#main div.review div.rating {
    height: 2rem;
    display: inline-block;
    vertical-align: top;
    margin: 0 0.5rem;
}

#main div.review div.rating img {
    height: 100%;
}

#main div.review p {
    margin: 20px;
}

#main h3 {
    display: inline-block;
}

#main h4 {
    font-size: 1rem;
}

div.rating h3 {
    margin: 0;
}