.myFlexContainer {
    display: flex;
    border: 3px;
    border-style: dashed;
    border-color: violet;
    justify-content: center;
    height: 500px;
    align-items: baseline;
    flex-direction: column;
}