<template>
  <div class="card" v-bind:class="{ read : bookProp.read }">
    <h2 class="book-title">{{bookProp.title}}</h2>
    <img
      v-if="bookProp.isbn" v-bind:src="'http://covers.openlibrary.org/b/isbn/' + bookProp.isbn + '-M.jpg'"/>
  <h3 class="book-author">{{bookProp.author}}</h3>
   <button @click="toggleBookRead(bookProp)" 
  > 
   {{bookProp.read ? "Mark Unread":"Mark Read"}} </button>
  </div>
</template>

<script>
export default {
  name: "book-card",
  props: ["bookProp"],
  methods: {
    toggleBookRead(bookProp){
      this.$store.commit('FLIP_STATUS', bookProp);
    }
  }
};
</script>

<style>
.card {
  border: 2px solid black;
  border-radius: 10px;
  width: 250px;
  height: 550px;
  margin: 20px;
}

.card.read {
  background-color: lightgray;
}

.card .book-title {
  font-size: 1.5rem;
}

.card .book-author {
  font-size: 1rem;
}
</style>