<template>
  <form class="new-book-form">
    <input class="title-input" placeholder="Book Title" type="text" v-model="newBook.title" />

    <input class="author-input" placeholder="Author Name" type="text" v-model="newBook.author"/>

    <input class="isbn-input" placeholder="ISBN" type="text" v-model="newBook.isbn"/>
    <input type="submit" @click.prevent="addNewBook(newBook)">
  </form>
</template>

<script>
export default {
  name: "new-form",

  data() {
    return {
      newBook: {
        title: "",
        author: "",
        read: false,
        isbn: "",
      },
    };
  },

  methods: {
    addNewBook(newBook) {
      this.$store.commit("ADD_BOOK", newBook);
      this.resetForm();
    },
    resetForm() {
      this.newBook = {};
    },
  },
};
</script>

<style>
.new-book-form {
  display: block;
}
</style>