<template>
  <div>
    <h1>{{ book.title }}</h1>
    <h1>{{ book.author }}</h1>
    <img
      v-if="book.isbn"
      v-bind:src="
        'http://covers.openlibrary.org/b/isbn/' + book.isbn + '-M.jpg'
      "
    />
    <router-view v-bind:to="{ name: 'details' }"></router-view>

    <p v-if="book.read">'I Have Read This Book.'</p>
    <p v-else>'I Have Not Read This Book.'</p>
  </div>
</template>

<script>

export default {
  components: {
 
  },
};
</script>

<style>
</style>