* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}

ul {
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 173, 238, 0.4);
  border-bottom-width: 1px;
  margin: 10px auto;
  padding-bottom: 10px;
  width: 80%;
  line-height: 2;
}

li > a{
  font-weight: bold;
  color:#00ADEE;
  text-decoration: none;
}

a:hover{
  color:#00ADEE;
  text-decoration: underline;
}

aside{
  position: fixed;
  width: 200px;
  height: 100vh;
  display: block;
  border-right: 1px;
  border-color: rgba(0, 173, 238, 0.4);
  border-style: solid;
}

.logo{
height: 120px;
display: block;
margin: 0 auto;
}

main{
  margin-left: 200px;
  padding-right: 20px;
  padding-left: 20px;
}

header{
  height: 120px;
}

.TElevator{
  height: 80%;
}

.banner-img{
  width: 100%;
  display: block;
}
section > div{
  display: inline-block;
  width: 33%;
  padding: 0px 20px;
  margin-top: 20px;
  vertical-align: top;
}
h2, i{
  color: #8CC36F;
}
i{
  padding-right: 20px;
}
#what-we-do, #our-work{
  border-right: 1px solid rgba(170, 239, 135, 0.8);
}
#our-work, #contact-us{
  padding-left: 20px;
}