<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png" />
    <HelloWorld msg="Welcome to Your Vue.js App" />
    <input type="text" v-model.lazy="yourName"/>
    <child-component v-bind:dayProp="daysOfTheWeek" v-bind:userName="yourName"/>
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";
import ChildComponent from "@/components/ChildComponent.vue";

export default {
  name: "App",
  components: {
    HelloWorld,
    ChildComponent,
  },
  data() {
    return {
      daysOfTheWeek: [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday",
      ],
      yourName: ''
    };
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
