body {
    max-width: 50%;
    margin: auto;
    justify-items: center;
    background-color: gainsboro;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
h1 {
    
    text-align: center;
    font-size: 70px;
    color: rgb(75, 75, 75);
    text-shadow: 5px, 5px, 10px, lime;
    text-decoration: lawngreen;
    
}

.title-img{
    
    border-radius: 50%;
    border-width: 10px;
    border-color: red;
    border-style: double;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.title-text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 20px;
    
}

.img{
    height: 500px;
    width: 350px;
}

table{
   
}


.book-covers{

    padding-top: 50px;
    display: inline-block;
    object-position: center;
}

a{
    color: dimgray;
}
ul{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 20px;
}
.resources{
    border-radius: 10%;
    background-color: #ca6d48;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
}
h2{
    text-decoration: underline;
}