body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #87CEEB;
}

header {
    display: flex;
    flex-direction: row;
}

nav {
    width: 50%;
    margin: auto;
}

nav ul {
    display: flex;
    margin: 0;
}

nav ul li {
    list-style: none;
    width: 50%;
    height: 50%;
    background-color: #00afef;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    margin-left: 20px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

header img {
    height: 100px;
    width: auto;
}

header h1 {
    padding-left: 20px;
    padding-top: 10px;
}

.spacer {
    display: flex;
    margin-left: auto;
}

main img {
    object-fit: cover;
    margin-right: 20px;
    width: 45%;
}

.blue-pop {
    height: 90%;
    width: 35%;
    align-self: center;
}

ul {
    list-style: none;
    line-height: 35px;
}

main li:before {
    content: '🍡';
    margin-left: -31px;
    padding-right: 8px;
}

section,
footer {
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 5px;
    padding: 20px;
}

.store-button {
    /* used for store link in "Get refreshed" section */
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    color: #000000;
    background-color: #00afef;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
}

.info-div {
    grid-area: info-div;
    display: flex;
}

.info-div-text {
    margin: auto;
    width: 65%;
}

.race-div {
    display: flex;
    grid-area: race-div;
    margin-right: 5px;
}

.race-div-text {
    margin: auto;
    text-align: center;
    line-height: 50px;
}

.store-div {
    text-align: center;
    grid-area: store-div;
}

#main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "info-div info-div" "race-div store-div";
}