<template>
  <div>
    <div class="loading" v-if="isLoading">
      <img src="../assets/ping_pong_loader.gif" />
    </div>
    <div v-else>
      <h1>{{ card.title }}</h1>
      <p>{{ card.description }}</p>
      <comments-list v-bind:comments="card.comments" />
      <router-link :to="{name: 'Board', params: {id: $route.params.boardID}}">Back to Board</router-link>
    </div>
  </div>
</template>

<script>
import boardsService from "@/services/BoardService.js";
import CommentsList from "@/components/CommentsList.vue";

export default {
  name: "card-detail",
  components: {
    CommentsList,
  },
  data() {
    return {
      card: {
        title: "",
        description: "",
        comments: [],
      },
      isLoading: true
    };
  },
  created() {
    boardsService
      .getCard(this.$route.params.boardID, this.$route.params.cardID)
      .then((response) => {
        this.card = response;
        this.isLoading = false;
      });
  },
};
</script>
