<template>
  <div id="app">
    <div id="nav">
      <router-link v-bind:to="{ name: 'home' }">Home</router-link>&nbsp;|&nbsp;
      <router-link v-bind:to="{ name: 'logout' }" v-if="$store.state.token != ''">Logout</router-link>
    </div>
    <router-view />
    <button value="Who Am I" @click="GetMyName" >Who Am I</button>
  </div>
</template>
<script>
import AuthService from '@/services/AuthService.js'

export default {
  methods: {
    GetMyName(){
      AuthService.getMe().then(response => console.log(response.data))
      .catch(error => console.log(error.response.status))
    }
  }
}
</script>
