<template>
  <div>
      Hello {{userName}}
    <div v-for="day in dayProp" v-bind:key="day">
      {{ day }}
    </div>
  </div>
</template>

<script>
export default {
    name: 'child-component',
    props:['dayProp','userName']
};
</script>

<style>
</style>