.container {
    display: grid;
    grid-template-columns: 200px 4fr 200px;
    grid-template-areas: 
        "header header header"
        "left-side main-content right-side"
        "footer footer footer";
}
header {
    grid-area: header;
}
#menu-nav {
    grid-area: left-side;
}
aside {
    grid-area: right-side;
}
main {
    grid-area: main-content;
}
footer {
    grid-area: footer;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
         "left-side"
         "main-content"
         "right-side"
         "footer"
        ;
    }
}