#hero,
#featured,
body,
#hero footer,
#featured section article div,
#featured section,
#all-items section article,
#all-items {
    display: flex;
}
body
{
    align-items: center;
}
#hero
{
    align-items: stretch;
}
#hero footer{
    justify-content: space-between;
}
#featured,
#all-items,
#hero,
body {
    flex-direction: column;
}
#featured section article div,
#all-items section article{
    justify-content: center;
}
#all-items article div:last-child {
    flex-basis: 70%;
}
#all-items section article:nth-child(even){
    flex-direction: row-reverse;
}