body {
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(to bottom, #858c90,#bbb);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.trello-list {
    display: inline-block;
    width: 300px;
    background-color: #ddd;
    border-radius: 2px 3px;
    vertical-align: top;
    margin-right: 10px;
}
.trello-list > h2 {
    margin: 8px;;
    font-weight: bold;
    font-size: 1rem;
}
.trello-list ol {
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}
.trello-list li {
    background-color: rgb(255,255,255);
    list-style: none;
    margin-bottom: 10px;
    border-radius: 1px;
    padding: 8px;
    font-size: 0.9rem;
}
.labels span {
    display: inline-block;
    width: 35px;
    height: 8px;
    border-radius: 3px;
}
.label.pathway {
    background-color: red;
}
.label.individual {
    background-color: green;
}

.label.pair {
    background-color: teal;
}

.label.general {
    background-color: orange;
}
header > h1,
header > p {
    display: inline-block;
    height: 20px;
    font-size:  1.1em;
    color: white;
    border-right: 1px solid rgb(255,255,255);
    padding-right: 20px;
}
header > h1 {
    text-transform: uppercase;
}
header > p {
    padding-left: 10px;
}
.trello-list a {
    display: block;
    text-decoration: none;
    color: #888;
    padding: 8px 0px 8px 5px;
    font-size: 0.85rem;
}
.trello-list li:last-child {
    margin-bottom: 0px;
}